[submodule "code/components/esp32-camera"]
	path = code/components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "code/components/esp-nn"]
	path = code/components/esp-nn
	url = https://github.com/espressif/esp-nn.git
[submodule "code/components/esp-tflite-micro"]
	path = code/components/esp-tflite-micro
	url = https://github.com/espressif/esp-tflite-micro.git
[submodule "code/components/stb"]
	path = code/components/stb
	url = https://github.com/nothings/stb.git
[submodule "code/components/RadioLib"]
	path = code/components/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "code/components/ArduinoJson"]
	path = code/components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "code/components/CayenneLPP"]
	path = code/components/CayenneLPP
	url = https://github.com/argetlam-coder/CayenneLPP.git
